@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #777;
}

a,
.leaflet-control-attribution a {
  color: #FF4136;
}

a:hover {
  color: #EA1308;
}

.irs-bar-edge,
.irs-bar {
  border: 1px solid #FF4136;
  background: #FF4136;
}

.irs-single {
  background: #FF4136;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}